table {
    border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	min-width: 100px;
	height: 25px;
	padding: 3px;
}

.current-cell {
	background-color: lightblue;
}

#formula-bar {
	background-color: lightgreen;
	border: 1px solid black;
	width: 150px;
	height: 25px;
	padding: 3px;
	font-size: 16;
}

tfoot {
	background-color: pink;
}

thead {
	color: rgb(47, 79, 79);
}

button {
	font-size: 22px;
	margin-top: 30px;
	color: rgb(47, 79, 79);
	background-color: #CCF3D4;
}