table {
    border-collapse: collapse;
}

th,
td {
	border: 1px solid black;
	min-width: 100px;
	height: 25px;
	padding: 3px;
}

.current-cell {
	background-color: lightblue;
}

#formula-bar {
	background-color: lightgreen;
	border: 1px solid black;
	width: 150px;
	height: 25px;
	padding: 3px;
	font-size: 16;
}

